{% extends "base.html" %}

{% block content %}
  <h1>{{ newspaper.title }}
    <a href="{% url 'catalog:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'catalog:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <hr>
  <table class="table">
      <tr>
        <th>ID</th>
        <th>Redactor</th>
        <th>Content</th>
        <th>Published date</th>
      </tr>
      {% for publisher in newspaper.publishers.all %}
        <tr>
          <td>
            {{ publisher.id }}
          </td>
          <td>
            {{ publisher.username }}
          </td>
          <td>
            {{ newspaper.content }}
          </td>
          <td>
            {{ newspaper.published_date }}
          </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
